{{#each needs}}
<tr class="fplant-table-row">
    <td class="fplant-needs-table-owner">{{ownerName}}</td>
    <td class="fplant-needs-table-goal">{{goal}}</td>
    <td class="fplant-needs-table-score">{{score}}</td>
    <td class="fplant-needs-table-utils">
        <!-- TODO - down arrow icon-->
        <!-- TODO - implement -->
        <button class="fplant-util-button fplant-btn-need-satisfy" data-owner-id="{{ownerId}}"
            data-need-id="{{id}}">-1</button>
        <!-- TODO - red X -->
        <!-- TODO - implement -->
        <button class="fplant-util-button danger-button fplant-btn-need-delete" data-owner-id="{{ownerId}}"
            data-need-id="{{id}}">X</button>
    </td>
</tr>
{{/each}}