<div id="FoundryPLANT-needs-list">
    <section class="needs-list-body">
        <h1>Current Needs</h1>
        <div class="needs-list-need">
            {{> "modules/FoundryPLANT/templates/partials/need.html" needs=(needsToShow)}}
        </div>
    </section>
    <div class="footer">
        {{#if isGM}}
        <hr>
        <button id="fplant-gm-clear-all-goals-btn">{{localize "FoundryPLANT.GMClearAllGoalsButtonText"}}</button>
        {{/if}}
        <hr>
        I'd like: <input type=" text" class="fplant-text-field" name="needText" id="fplant-needlist-text">
        <button id="fplant-needlist-req-btn" class="fplant-button fplant-button-disabled"
            disabled="true">{{localize "FoundryPLANT.NeedRequestButton"}}</button>
    </div>
</div>