<div id="FoundryPLANT-needs-list">
    <section class="needs-list-body">
        <h1>Current Needs {{#if isGM}}
            <button class="danger-button"
                id="fplant-gm-clear-all-goals-btn">{{localize "FoundryPLANT.GMClearAllGoalsButtonText"}}</button>
            {{/if}}
        </h1>
        <div class="needs-list-div">
            <table>
                <tr class="fplant-table-header-row">
                    <th class="fplant-needs-table-owner">Owner</th>
                    <th class="fplant-needs-table-goal">Goal</th>
                    <!-- TODO - only if GM -->
                    <th class="fplant-needs-table-score">Score</th>
                    <th class="fplant-needs-table-utils"></th>
                </tr>
                {{> "modules/FoundryPLANT/templates/partials/need.html" needs=(needsToShow)}}
            </table>
        </div>
    </section>
    <div>
        <hr>
        I'd like: <input type=" text" class="fplant-text-field" name="needText" id="fplant-needlist-text">
        <button id="fplant-needlist-req-btn" class="fplant-button fplant-button-disabled"
            disabled="true">{{localize "FoundryPLANT.NeedRequestButton"}}</button>
    </div>
</div>