// Don't forget to start gulp in this directory when editing!
// cd <path-to-here>
// gulp
$background-parchment-dark: url("/systems/dnd5e/ui/parchment.jpg") repeat;
$background-down-arrow: url("/modules/FoundryPLANT/images/arrow.png");
$background-xmark: url("/modules/FoundryPLANT/images/x.png");
$background-color-arrow: rgba(132, 195, 132, 0.2);
$background-color: rgba(255, 255, 240, 0.8);
$background-header: #666;
$border: #333;
$border-active: #833;
$footer-padding: 4px;
$footer-size: 32px+2*$footer-padding;

//
// NEEDS LIST WINDOW CONTAINERS
//
.needs-list-body {
    height: calc(100% - 80px);
}

.needs-list-table {
    margin: 0px !important;
}

table {
    margin: 0px !important;
}

//
// NEEDS TABLE
//
.fplant-table-header-row {
    border-bottom: 3px groove black;
}

.fplant-table-row {
    border-bottom: 1px solid grey;
    margin: 0px;
}

// Columns
.fplant-needs-table-owner {
    width: 20%;
}

.fplant-needs-table-goal {
    width: 60%;
}

.fplant-needs-table-rank {
    width: 5%;
    text-align: center;
}

.fplant-needs-table-button {
    width: 5%;
}

.fplant-needs-button {
    width: 5%;
}

.fplant-needs-table-alignright {
    text-align: right;
}

.fplant-util-button {
    width: 40%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2em;
    height: 1em;
}

.fplant-btn-need-down {
    background-size: 50%;
    background-image: $background-down-arrow;
    background-color: $background-color-arrow;
}

.fplant-btn-need-up {
    background-size: 50%;
    background-image: $background-down-arrow;
    transform: rotate(180deg);
    background-color: $background-color-arrow;
}

.fplant-btn-need-delete {
    background-size: 50%;
    background-image: $background-xmark;
}

// 
// INPUTS
//
#fplant-gm-clear-all-goals-btn {
    width: calc(100% - 200px);
    vertical-align: top;
}

#fplant-needlist-text {
    background: $background-color;
    width: calc(100% - 50px);
}

#fplant-chatneed-btn {
    cursor: pointer;
    line-height: 16px;
    max-width: 80%;
    max-height: 30px;
    margin: auto;
    background: $background-parchment-dark;
}

.fplant-button-disabled {
    opacity: 20%;
    disabled: true;
}

.fplant-button {
    margin: 5px;
}

.danger-button{
    background-color: #800;
    color: #fff;
}