.needs-list-body {
  height: calc(100% - 80px); }

.footer {
  position: absolute;
  bottom: 20px;
  width: 97.416%; }

.fplant-table-header-row {
  border-bottom: 3px groove grey; }

.fplant-table-row {
  border-bottom: 1px solid grey; }

.fplant-needs-table-owner {
  width: 20%; }

.fplant-needs-table-goal {
  width: 60%; }

.fplant-needs-table-score {
  width: 5%;
  text-align: center; }

.fplant-needs-table-utils {
  width: 15%; }

#fplant-gm-clear-all-goals-btn {
  width: calc(100% - 200px);
  vertical-align: top; }

#fplant-needlist-text {
  background: rgba(255, 255, 240, 0.8);
  width: calc(100% - 50px); }

#fplant-chatneed-btn {
  cursor: pointer;
  line-height: 16px;
  max-width: 80%;
  max-height: 30px;
  margin: auto;
  background: url("/systems/dnd5e/ui/parchment.jpg") repeat; }

.fplant-button-disabled {
  opacity: 20%;
  disabled: true; }

.fplant-button {
  margin: 5px; }

.fplant-util-button {
  width: 40%; }

.danger-button {
  background-color: #800;
  color: #fff; }
